mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				+e.system-txt-col.footer-col.col-12.col-md-4
					a(href="#") Промышленные системы НН
				+e.all-rights-col.footer-col.col-12.col-md-4
					a(href="#") Все права защищены. 2020.
				+e.dev-promo-col.footer-col.col-12.col-md-4
					a(href="#")
						|Разработка сайта -
						|
						b AD HEADS

