.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-l {
	font-size:(8/10)*1rem;
	width:(51/8)*1em;
}
.icon-arrow-r {
	font-size:(8/10)*1rem;
	width:(51/8)*1em;
}
.icon-brend-biceps {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-brend-certificat {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-brend-rtiangle {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-clock {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-comparation_analog {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-comparation_cartwheel {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-comparation_check {
	font-size:(14/10)*1rem;
	width:(15/14)*1em;
}
.icon-comparation_coins {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-comparation_diamond {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-comparation_refresh {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-comparation_sandClock {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-comparation_worth {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-contacts_location {
	font-size:(23/10)*1rem;
	width:(22/23)*1em;
}
.icon-contacts_mail {
	font-size:(23/10)*1rem;
	width:(22/23)*1em;
}
.icon-contacts_phone {
	font-size:(23/10)*1rem;
	width:(22/23)*1em;
}
.icon-done {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-mail {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-mod-win-dog {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-mod-win-pdf {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-mod-win-user {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-parners-slider-left {
	font-size:(8/10)*1rem;
	width:(51/8)*1em;
}
.icon-parners-slider-right {
	font-size:(8/10)*1rem;
	width:(51/8)*1em;
}
.icon-phone {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-phone-modal {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-user {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
