
mixin modal()
	.d-none
		+form-wrap()(id="modal-call" class="modal-win modal-form" )
			.modal-container
				.text-center
					+e.title.h3.ttu Оставить отзыв
					p.after-headline Прикрепите документ отзыва в PDF-формате для корректного отображения
				+input2('Иван Иванов','text',"Ваше Имя")(required class="form-control-lg")
					.icon-cont
						+icon('mod-win-user')
				+input2('example@mail.com','email',"E-mail:")(required class="form-control-lg")
					.icon-cont
						+icon('mod-win-dog')
				+b.add-file
					label
						input(type="file")
						+e.SPAN.btn-file
							+icon('mod-win-pdf')
							| Прикрепить документ отзыва
					+e.filename
				input.btn(type="submit" value="Опубликовать отзыв")
		// #modal-call
	// modal