
mixin modal()
	.d-none
		+form-wrap()(id="modal-call" class="modal-win modal-form"  )
			.modal-container
				.text-center
					+e.title.h3.ttu 
					p.after-headline 
				+input2('Иван Иванов','text',"Ваше Имя",'name')(required class="form-control-lg")
					.icon-cont
						+icon('mod-win-user')
				+input2('example@mail.com','email',"E-mail:")(required class="form-control-lg")
					.icon-cont
						+icon('mod-win-dog')
				input(type="file" name="file")#file_present
				+b.add-file
					label
						+e.SPAN.btn-file
							+icon('mod-win-pdf')
							| Прикрепить документ отзыва
					+e.filename
				input.btn(type="submit" value="")

		//- Запросить цену
		+form-wrap()(id="modal-call-2" class="modal-win modal-form" )
			.modal-container
				.text-center
					+e.title.h3.ttu 
					p.after-headline 
				+input2('Иван Иванов','text',"Ваше Имя",'name')(required class="form-control-lg")
					.icon-cont
						+icon('mod-win-user')
				+input2('+7 (___) ___ - __ - __','tel',"Ваш номер телефона:")(required class="form-control-lg")
					.icon-cont
						+icon('phone-modal')
				+input2('example@mail.com','email',"E-mail:")(required class="form-control-lg")
					.icon-cont
						+icon('mod-win-dog')
				//- +b.add-file
					label
						input(type="file")
						+e.SPAN.btn-file
							+icon('mod-win-pdf')
							| Прикрепить документ отзыва
					+e.filename
				input.btn(type="submit" value="")

		//- Модалка спасибо
		+form-wrap()(id="modal-thanks" class="modal-win modal-form" )
			.modal-container
				.text-center
					+e.img-done
						img(src="img/@2x/done.png", alt="")
					+e.title.h3.ttu Отлично!
					p.after-headline Ваша заявка отправлена. Ожидайте, наш менеджер свяжется с Вами в ближайшее время!
				//- +input2('Иван Иванов','text',"Ваше Имя",'name')(required class="form-control-lg")
				//- 	.icon-cont
				//- 		+icon('mod-win-user')
				//- +input2('+7 (___) ___ - __ - __','tel',"Ваш номер телефона:")(required class="form-control-lg")
				//- 	.icon-cont
				//- 		+icon('phone-modal')
				//- +input2('example@mail.com','email',"E-mail:")(required class="form-control-lg")
				//- 	.icon-cont
				//- 		+icon('mod-win-dog')
				//- +b.add-file
					label
						input(type="file")
						+e.SPAN.btn-file
							+icon('mod-win-pdf')
							| Прикрепить документ отзыва
					+e.filename
				//- input.btn(type="submit" value="")
		// #modal-call
	// modal