
mixin modal()
	.d-none
		//- +form-wrap()(id="modal-call" class="  modal-win modal-form" )
		//- 	.text-center
		//- 		+e.formTitle.ttu Получить расчет
		//- 		.h6 Оставьте заявку на&nbsp;расчет, и&nbsp;мы перезвоним&nbsp;Вам в&nbsp;течении 10&nbsp;минут!
		//- 	+e.inputWrap
		//- 		+icon('user')
		//- 		+input("Иванов Иван", 'text', 'Ваше имя:')(required) 
		//- 	+e.inputWrap
		//- 		+icon('phone-modal')
		//- 		+input("+7(___)___-__-__","tel",'Ваш номер телефона:')(required)
		//- 	+e.inputWrap
		//- 		+icon('mail')
		//- 		+input("example@mail.com",'email',"E-mail:")(required)
		//- 	//- +text( "Комментарий")
		//- 	+e.BUTTON.btn.btn-grad(type="submit") Получить расчет
		//- 	//- +polite()


		//- +form-wrap()(id="modal-call-2" class="  modal-win modal-form" )
		//- 	.text-center
		//- 		+e.formTitle.ttu Запросить цену
		//- 		.h6 Оставьте заявку на&nbsp;расчет, и&nbsp;мы перезвоним&nbsp;Вам в&nbsp;течении 10&nbsp;минут!
		//- 	+e.inputWrap
		//- 		+icon('user')
		//- 		+input("Иванов Иван", 'text', 'Ваше имя:')(required) 
		//- 	+e.inputWrap
		//- 		+icon('phone-modal')
		//- 		+input("+7(___)___-__-__","tel",'Ваш номер телефона:')(required)
		//- 	+e.inputWrap
		//- 		+icon('mail')
		//- 		+input("example@mail.com",'email',"E-mail:")(required)
		//- 	//- +text( "Комментарий")
		//- 	+e.BUTTON.btn.btn-grad(type="submit") Запросить цену
		//- 	//- +polite()
		+form-wrap()(id="modal-call" class="modal-win modal-form" )
			.modal-container
				.text-center
					+e.title.h3.ttu Оставить отзыв
					p.after-headline Прикрепите документ отзыва в PDF-формате для корректного отображения
				+input2('Иван Иванов','text',"Ваше Имя")(required class="form-control-lg")
					.icon-cont
						+icon('mod-win-user')
				+input2('example@mail.com','email',"E-mail:")(required class="form-control-lg")
					.icon-cont
						+icon('mod-win-dog')
				+b.add-file
					label
						input(type="file")
						+e.SPAN.btn-file
							+icon('mod-win-pdf')
							| Прикрепить документ отзыва
					+e.filename
				input.btn(type="submit" value="Опубликовать отзыв")
		// #modal-call
	// modal