// start .sPartnersAndFeedBack
.sPartnersAndFeedBack {
	background: linear-gradient(180deg, #fcfdff 0%, white 100%);

	padding-bottom: 62px;
	@include media-breakpoint-up(sm){
		padding-bottom: 100px;
	}

	.container{
		padding-left: 21px;
		@include media-breakpoint-up(sm){
			padding-left: 15px;
		}

		@include media-breakpoint-up(xl){
			padding-left: 0px;
		}
	}

	.section-title{
		h2{
			margin-bottom: 0;
		}

		padding-bottom: 15px;
		@include media-breakpoint-up(lg){
			padding-bottom: 25px;
		}
	}

	&__slider-controll-bl{
		position: relative;
	}
	&__after-headline-txt{
		max-width: 410px;

		p{
			font-weight: 500;

			font-size: 16px;
			@include media-breakpoint-up(lg){
				font-size: 20px;
			}
			line-height: 1.4;

			margin-bottom: 39px;
			@include media-breakpoint-up(sm){
				margin-bottom: 46px;
			}
		}
	}
	//logoes box
	&__companyes-logoes-box{
		position: relative;
		left: -9px;

		display: flex;
		flex-wrap: wrap;
		max-width: 557px;

		@include media-breakpoint-up(lg){
			padding-bottom: 100px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 42px;
		}

	}
	&__logo-item{
		&:nth-child(1), &:nth-child(2){
			max-width: 41%;
		}
		max-width: 25%;

		@include media-breakpoint-up(md){
			&:nth-child(1), &:nth-child(2){
				max-width: 45%;
			}
			max-width: 45%;
		}

		width: auto;
		height: auto;
		display: flex;

		img{
			width: 69.5%;
			@include media-breakpoint-up(md){
				width: auto;
			}
			height: auto;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}


		&:first-child{
			margin-right: 16px;
		}
		&:last-child{
			margin-right: 0px;
		}
		margin-right: 34px;
		margin-bottom: 21px;
		@include media-breakpoint-up(lg){
			&:first-child{
				margin-right: 33px;
			}
			margin-right: 47px;
			margin-bottom: 23px;
		}
	}
	//btn-and-controll-bl
	&__btn-and-controll-bl{
		display: flex;
		flex-direction: column-reverse;

		@include media-breakpoint-up(lg){
			flex-direction: column;
		}
	}
	//leave-feedblack-btn
	&__leave-feedblack-btn{
		@extend .btn;
		@extend .btn-primary;
		@extend .btn-primary-frame;

		font-size: 18px;
		width: 100%;
		height: 75px;
		@include media-breakpoint-up(lg){
			font-size: 18px;
			width: 235px;
			height: 75px;
			margin-bottom: 120px;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 120px;
		}
	}
	//controll panel
	&__controll-panell{
		background: linear-gradient(88.04deg, #155286 0.23%, #1975B1 99.76%);
		box-shadow: 0px 13px 32px rgba(24, 66, 118, 0.31);

		display: flex;
		align-items: center;
		justify-content: space-between;

		height: 104px;
		padding: 0 20px;
		margin-top: -34px;
		@include media-breakpoint-up(sm){
			height: 113px;
			padding: 0 50px;
			z-index: 20;
			margin-top: -60px;
		}
		@include media-breakpoint-up(lg){
			padding: 0 99px 0 50px;
			border-radius: 3px;
		}


		position: relative;
		left: calc(-1 * (100vw - 100%) / 2);
		width: 100vw;
		margin-bottom: 24px;
		@include media-breakpoint-up(lg){
			margin-top: 0;
			position: static;
			z-index: 0;
			width: 785px;
			left: unset;
			top: unset;
			margin-bottom: 0;
		}
	}
	//prev-next
	&__arrow-cont{
		display: flex;
		//background-color: pink;

		padding-top: 30px;
		@include media-breakpoint-up(sm){
			padding-top: 16px;
		}

		width: 100%;
		justify-content: space-between;
		@include media-breakpoint-up(sm){
			width: auto;
			justify-content: flex-start;
		}
	}
	&__pr-nt-parnter-sl{
		&.prev-parnter-sl-js{
			margin-right: 29px;
			&:hover{
				.icon{
					left: -5px;
				}
			}
		}
		&.next-parnter-sl-js{
			&:hover{
				.icon{
					left: 5px;
				}
			}
		}

		//background-color: blue;
		text-align: center;
		cursor: pointer;
	}
	&__arrow-txt{
		font-weight: 300;
		font-size: 14px;
		line-height: 0;

		text-align: center;
		text-transform: lowercase;

		color: $white;
		//color: red;
		padding-bottom: 5px;
	}
	&__arrow-icon-cont{
		max-width: 50px;

		.icon{
			@include mt();
			left: 0;

			position: relative;
			stroke: $white;
			color: $white;
			fill: $white;
			font-size: 8px;
		}
	}
	//counts
	&__slide-count-nums{
		display: flex;
		align-items: flex-end;

		font-weight: 300;
		color: $white;

		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 20px;
		@include media-breakpoint-up(sm){
			position: static;
			left: unset;
			transform: none;
			padding-top: 0px;
		}
	}
	&__current-slide{
		font-size: 22px;
		@include media-breakpoint-up(sm){
			font-size: 38px;
		}

		line-height: 1; //40
	}
	&__dash-symb{
		font-size: 22px;
		@include media-breakpoint-up(sm){
			font-size: 38px;
		}

		line-height: 1;
	}
	&__max-slides{
		font-size: 14px;
		@include media-breakpoint-up(sm){
			font-size: 25px;
		}
		line-height: 1;
	}
	//
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sPartnersAndFeedBack

.partners-slider-container{
	z-index: 20;

	position: relative;

	@include media-breakpoint-up(sm){
		left: calc(-1 * (100vw - 100%) / 2);
		width: 100vw;
		padding-right: 30px;
		padding-left: 30px;
	}

	@include media-breakpoint-up(lg){
		position: absolute;
		left: unset;
		width: 100%;
		padding-left: 30px;
		padding-right: 0;

		overflow: hidden;
		right: 0;
		top: -53px;
		max-width: calc(440px + (100vw - 960px)/2); // 362px + 50 +    30??
	}
	@include media-breakpoint-up(xl){
		max-width: calc(464px + (100vw - 1170px)/2); // 362px + 50 +    30??
	}

	//swiper-default
	.swiper-container{
		overflow: visible !important;
	}
	.swiper-wrapper{

	}
	.swiper-slide{
		@include media-breakpoint-up(lg) {
			width: auto;
		}
		&.swiper-slide-active , &.swiper-slide-next{
			.img-cont{
				box-shadow: 0px 30px 30px rgba(24, 66, 118, 0.17);
			}
		}
	}
	.img-cont{
		margin: 30px 0px 9px 0px;
		@include media-breakpoint-up(sm){
			margin: 30px 0px 60px 0px;
		}

		width: 100%;
		@include media-breakpoint-up(lg){
			width: 434px;
		}
		height: auto;

		img{
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}

	//background-brick
	&__background-brick{
		position: absolute;

		top: 0;

		width: calc(100% + 133px);
		height: 100%;
		background: #F4FAFF;
		left: -60px;
		@include media-breakpoint-up(lg){
			left: 15px;

			max-width: 100%;
			width: 649px;
			height: 250px;
		}
		@include media-breakpoint-up(xl){
			left: -30px;
		}

		overflow: hidden;
		&:after{
			content: '';
			@include media-breakpoint-up(sm){
				content: none;
			}
			position: absolute;
			left: 0;
			bottom: -73px;

			width: 100%;

			background: linear-gradient(88.04deg, #155286 0.23%, #1975B1 99.76%);
			box-shadow: 0px 13px 32px rgba(24, 66, 118, 0.31);
			height: 104px;
		}
	}
}