mixin sPrice()
	// start sPrice
	+b.SECTION.sPrice.section#sPrice&attributes(attributes)
		.container
			img.lazy.d-none.d-xl-block(src="#" data-src="img/@2x/price.jpg", alt="" class="wow zoomInDown"  data-wow-delay=`${delay}s` data-wow-duration=`${dur }s` )
			+e.valve-price-bottom
				img.bottom-fly-img-js.d-none.d-xl-block(src="img/@2x/valve-price-bottom.png", alt="")
			+e.valve-price-top
				img.top-fly-img-js.d-none.d-xl-block(src="img/@2x/valve-price-top.png", alt="")
			+e.leftBlock
				+b.section-title
					h2 Низкая цена
					+e.subtitle Почему наша цена действительно #[strong самая низкая по рынку при высоком качестве продукции?]
				.row(class="wow fadeInRight "  data-wow-delay=`${delay}s` data-wow-duration=`${dur }s` )
					.col-md-6
						+e.numb 01
						b Справедливая цена
						.h4 Наша цена формируется от оборота, а&nbsp;не&nbsp;от&nbsp;наценки как у других производителей!
						+e.price.btn-white.link-modal(href="#modal-call-2" data-title="Запросить цену" data-text="Оставьте заявку на запрос цены, и мы перезвоним Вам в течении 10&nbsp;минут!" data-btn="Запросить цену" data-order="Запросить цену") Запросить цену
					.col-md-5
						+e.numb 02
						b Без лишних наценок
						.h4 У&nbsp;нас оптимальный штат сотрудников, а&nbsp;потому нет лишних наценок
					.col-1.d-none.d-md-block
						+e.numb--empty
				

	// end sPrice