// мобильное меню

// мобильное меню
$h: em(1);

.toggle-menu-mobile {
	display: block;
	height: $h* 20;
	position: relative;
	color: $primary;
	font-size: 32px;
	margin-right: rem(5);

	&.on {
		color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 3;
	}

	span:after {
		bottom: $h * 3;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1.1em;
		height: $h;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}
	span:before {
		left: rem(10);
		width: 0.8em;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {
		width: 1em;
		top: 0;
		bottom: 0;
		transform-origin: 50% 50%;
	}

	&.on span:before {
		transform: rotate(45deg);
	}

	&.on span:after {
		transform: rotate(-45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	// max-width: 85%;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	// right: 0;
	transform: translateY(-100vh);
	@include mt(.6);
	will-change: transform;

	&__inner {
		padding: rem(20);
		padding-top: rem(90);
		text-align: center;
		background-color: #EDF5FE;
		align-items: center;
		// padding: 5% 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&__tel {
		display: block;
		text-align: center;
		color: $body-color;
		font-weight: bold;
		margin-bottom: rem(20);
	}

	&__calculate {
		display: block;
		padding: rem(18);
		// max-width: rem();
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, .13);

		a {
			// font-size: 16px;

			padding: 10px;
			display: block;

		}
	}
}