mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			+e.calculate.btn.link-modal(href="#") Получить расчет
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid
			+e.row.row.justify-content-between.align-items-center
				.col-auto
					+e.logo(href="/")
						img(src="img/@2x/logo.png", alt="SUPERLOK")
				.col.d-none.d-lg-block
					+mnu()
				.col.d-lg-none
					+mob-mnu
				.col-auto
					+e.tel.h6(href="tel:8(831)423-86-95") 8 (831) 423-86-95
				.col-auto
					+e.calculate.btn.link-modal(href="#") Получить расчет
					
	// end top-nav