mixin sBrendRepresent()
	// start sBrendRepresent
	+b.SECTION.sBrendRepresent#sBrendRepresent&attributes(attributes)
		.container
			+b.section-title
				h2 Бренд SUPERLOK
				p Компания BMT (Корея) основана в&nbsp;1988&nbsp;году. Предприятие разрабатывает и&nbsp;производит высококачественную запорно-регулирующую арматуру под брендом SUPERLOK.
			+e.logo-bg-cont(class="wow fadeInRight "  data-wow-delay=`${delay}s` data-wow-duration=`${dur }s` )
				+e.logo-cont
					img.lazy(src="#" data-src="img/superlok-logo2.svg" alt="")
			+e.blue-content-strip(class="wow fadeInLeft "  data-wow-delay=`${delay}s` data-wow-duration=`${dur }s`)
				+e.left-bg-blue-squaere.bg-blue-squaere.d-none.d-sm-block
				+e.right-bg-blue-squaere.bg-blue-squaere.d-none.d-sm-block
				+e.blue-col
					+e.icon-cont
						+icon('brend-certificat')
					+e.col-headline КАЧЕСТВО
					+e.col-txt Вся выпускаемая продукция проходит строгий контроль качества на всех этапах производства, есть все разрешительные документы. Запорно-регулирующая арматура SUPERLOK обладает стойкостью к коррозии, как обычной, так и питтинговой и межкристаллитной.
				+e.blue-col
					+e.icon-cont
						+icon('brend-rtiangle')
					+e.col-headline ПРИМЕНЕНИЕ
					+e.col-txt Сфера применения запорно-регулирующей арматуры SUPERLOK - это высокотехнологические отрасли промышленности нефтегазового, химического, пищевого и нефтехимического сектора.
				+e.blue-col
					+e.icon-cont
						+icon('brend-biceps')
					+e.col-headline НАДЕЖНОСТЬ
					+e.col-txt Арматура SUPERLOK отличается простой конструкции и производится из высококачественных сплавов, что гарантирует превосходные эксплуатационные параметры, высокую надежность и длительный срок службы. Сделана по стандартам ASTM.
			+e.roller-cont
				+e.roller-wanna-fly
					img.roller-img(src="img/@2x/roller.png" alt="")
	// end sBrendRepresent