mixin sBrendRepresent()
	// start sBrendRepresent
	+b.SECTION.sBrendRepresent#sBrendRepresent&attributes(attributes)
		.container
			+b.section-title
				h2 Бренд SUPERLOK
				p Компания BMT (Корея) основана в&nbsp;1988&nbsp;году. Предприятие разрабатывает и&nbsp;производит высококачественную запорно-регулирующую арматуру под брендом SUPERLOK.
			+e.logo-bg-cont
				+e.logo-cont
					img.lazy(src="#" data-src="img/@2x/big-logo.png" alt="")
			+e.blue-content-strip
				+e.left-bg-blue-squaere.bg-blue-squaere.d-none.d-sm-block
				+e.right-bg-blue-squaere.bg-blue-squaere.d-none.d-sm-block
				+e.blue-col
					+e.icon-cont
						+icon('brend-certificat')
					+e.col-headline КАЧЕСТВО
					+e.col-txt Вся выпускаемая продукция проходит строгий контроль качества на всех этапах производства. Запорно-регулирующая арматура SUPERLOK обладает стойкостью к коррозии, как обычной, так и питтинговой и межкристаллитной.
				+e.blue-col
					+e.icon-cont
						+icon('brend-rtiangle')
					+e.col-headline ПРИМЕНЕНИЕ
					+e.col-txt Сфера применения запорно-регулирующей арматуры SUPERLOK очень широка – от бытовых систем до высокотехнологических отраслей промышленности нефтегазового, химического, пищевого и нефтехимического сектора.
				+e.blue-col
					+e.icon-cont
						+icon('brend-biceps')
					+e.col-headline НАДЕЖНОСТЬ
					+e.col-txt Арматура SUPERLOK отличается простой конструкции и производится из высококачественных сплавов, что гарантирует превосходные эксплуатационные параметры, высокую надежность и длительный срок службы.
			+e.roller-cont
				+e.roller-wanna-fly
					img.lazy(src="#" data-src="img/@2x/roller.png" alt="")
	// end sBrendRepresent